<a href="https://colab.research.google.com/github/tanush-47/Python_Assignment/blob/main/Pythonassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1. L is a list defined as L= [11, 12, 13, 14]**

### (i) WAP to add 50 and 60 to L

In [ ]:
L = [11, 12, 13, 14]
L.extend([50, 60])  # You can also use L += [50, 60]
print("After adding 50 and 60:", L)

(ii) WAP to remove 11 and 13 from L

In [ ]:
L.remove(11)  # Removes the value 11
L.remove(13)  # Removes the value 13
print("After removing 11 and 13:", L)

(iii) WAP to sort L in ascending order

In [ ]:
L.sort()
print("List sorted in ascending order:", L)

(iv) WAP to sort L in descending order

In [ ]:
L.sort(reverse=True)
print("List sorted in descending order:", L)

(v) WAP to search for 13 in L

In [ ]:
if 13 in L:
    print("13 is present in the list.")
else:
    print("13 is not present in the list.")

(vi) WAP to count the number of elements present in L

In [ ]:
print("Number of elements in the list:", len(L))

(vii) WAP to sum all the elements in L

In [ ]:
total_sum = sum(L)
print("Sum of all elements:", total_sum)

(viii) WAP to sum all ODD numbers in L

In [ ]:
odd_sum = sum(x for x in L if x % 2 != 0)
print("Sum of odd numbers:", odd_sum)

(ix) WAP to sum all EVEN numbers in L

In [ ]:
even_sum = sum(x for x in L if x % 2 == 0)
print("Sum of even numbers:", even_sum)

(x) WAP to sum all PRIME numbers in L

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(x for x in L if is_prime(x))
print("Sum of prime numbers:", prime_sum)

(xi) WAP to clear all the elements in L

In [ ]:
L.clear()
print("List after clearing all elements:", L)

WAP to delete L

In [ ]:
del L
print("List L has been deleted.")

# Q2. Dictionary Operations

### D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

In [ ]:
# Initial dictionary
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D[8] = 8.8
print("After adding key=8 and value=8.8:", D)

(ii) WAP to remove key=2

In [ ]:
if 2 in D:
    del D[2]
    print("After removing key=2:", D)
else:
    print("Key=2 not found in dictionary.")

(iii) WAP to check whether key=6 is present in D

In [ ]:
if 6 in D:
    print("Key 6 is present in the dictionary.")
else:
    print("Key 6 is not present in the dictionary.")

(iv) WAP to count the number of elements present in D

In [ ]:
print("Number of elements in dictionary:", len(D))

(v) WAP to add all the values present in D

In [ ]:
total_value = sum(D.values())
print("Sum of all values in dictionary:", total_value)

(vi) WAP to update the value of key=3 to 7.1

In [ ]:
if 3 in D:
    D[3] = 7.1
    print("After updating value of key=3 to 7.1:", D)
else:
    print("Key=3 not found.")

(vii) WAP to clear the dictionary

In [ ]:
D.clear()
print("Dictionary after clearing:", D)

# Q3. Sets

### S1 = {10, 20, 30, 40, 50, 60}
### S2 = {40, 50, 60, 70, 80, 90}

(i) Add 55 and 66 in Set S1

In [ ]:
S1.add(55)
S1.add(66)
print("After adding 55 and 66 to S1:", S1)

(ii) Remove 10 and 30 from Set S1

In [ ]:
S1.remove(10)
S1.remove(30)
print("After removing 10 and 30 from S1:", S1)

(iii) Check whether 40 is present in S1

In [ ]:
if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")

(iv) Find the union between S1 and S2

In [ ]:
union_set = S1.union(S2)  # or S1 | S2
print("Union of S1 and S2:", union_set)

(v) Find the intersection between S1 and S2

In [ ]:
intersection_set = S1.intersection(S2)  # or S1 & S2
print("Intersection of S1 and S2:", intersection_set)

(vi) Find the difference S1 - S2

In [ ]:
difference_set = S1.difference(S2)  # or S1 - S2
print("Difference (S1 - S2):", difference_set)

✅ Final Sample Output (depends on current state of sets):

In [ ]:
After adding 55 and 66 to S1: {66, 40, 10, 50, 20, 55, 60, 30}
After removing 10 and 30 from S1: {66, 40, 50, 20, 55, 60}
40 is present in S1.
Union of S1 and S2: {66, 70, 40, 10, 80, 50, 20, 55, 90, 60, 30}
Intersection of S1 and S2: {40, 50, 60}
Difference (S1 - S2): {66, 20, 55}

# Q4. Write the following program

(i) WAP to print 100 random strings whose length between 6 and 8

In [ ]:
import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    random_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
    print(random_str)

(ii) WAP to print all prime numbers between 600 and 800

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num, end=' ')

(iii) WAP to print all numbers between 100 and 1000 that are divisible by both 7 and 9

In [ ]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num, end=' ')

# Q5. Create two lists of 10 random numbers between 10 and 30 and perform operations

In [ ]:
# Generate two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

(i) Common numbers in the two lists

In [ ]:
common = list(set(list1) & set(list2))
print("\n(i) Common numbers:", common)

(ii) Unique numbers in both the lists

In [ ]:
unique = list(set(list1) ^ set(list2))  # symmetric difference
print("(ii) Unique numbers in both lists:", unique)

(iii) Minimum in both the lists

In [ ]:
print("(iii) Minimum in List 1:", min(list1))
print("      Minimum in List 2:", min(list2))

(iv) Maximum in both the lists

In [ ]:
print("(iv) Maximum in List 1:", max(list1))
print("      Maximum in List 2:", max(list2))

 (v) Sum of both the lists

In [ ]:
print("(v) Sum of List 1:", sum(list1))
print("    Sum of List 2:", sum(list2))

# Q6. WAP to create a list of 100 random numbers between 100 and 900.

Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [ ]:
import random

# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

# Step 1: Generate 100 random numbers between 100 and 900
random_numbers = [random.randint(100, 900) for _ in range(100)]

# Step 2: Classify numbers
odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

# Step 3: Display results
print("Original List of 100 Random Numbers:")
print(random_numbers)

print("\n(i) Odd Numbers ({} total):".format(len(odd_numbers)))
print(odd_numbers)

print("\n(ii) Even Numbers ({} total):".format(len(even_numbers)))
print(even_numbers)

print("\n(iii) Prime Numbers ({} total):".format(len(prime_numbers)))
print(prime_numbers)

## Q7 Dictionaries

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [ ]:
# Define the dictionary
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open a file in write mode
with open("dictionary_output.txt", "w") as file:
    # Write each key-value pair in required format
    for key, value in D.items():
        file.write(f"Key{key}, Value{key}\n")

# Q8. List

L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:
One, 1
Two, 2
Four,4

In [ ]:
# Step 1: Define the list
L = ["One", "Two", "Three", "Four", "Five"]

# Step 2: Open the file to write
with open("length_output.txt", "w") as file:
    # Step 3: Loop through each word and write its length
    for word in L:
        file.write(f"{word}, {len(word)}\n")

print("✅ Lengths of list elements written to 'length_output.txt' successfully.")

# Q9. Write to the file 100 random strings whose length between 10 and 15

In [ ]:
import random
import string

# Step 1: Open a file to write
with open("random_strings.txt", "w") as file:
    # Step 2: Generate and write 100 random strings
    for _ in range(100):
        length = random.randint(10, 15)  # Random length between 10 and 15
        random_string = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
        file.write(random_string + "\n")

print("100 random strings written to 'random_strings.txt'.")

# 10. Write to the file all prime numbers between 600 and 800.

In [ ]:
# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Open the file to write
with open("prime_600_to_800.txt", "w") as file:
    # Loop through numbers from 600 to 800
    for number in range(600, 801):
        if is_prime(number):
            file.write(str(number) + "\n")

print(" All prime numbers between 600 and 800 written to 'prime_600_to_800.txt'.")

# Q11. WAP to calculate the time taken by a program.

In [ ]:
import time  # Import time module

# Step 1: Record the start time
start_time = time.time()

# 🔽 Your code block (example: finding sum of 1 to 1 million)
total = 0
for i in range(1, 1000001):
    total += i

# Step 2: Record the end time
end_time = time.time()

# Step 3: Calculate and display the time taken
execution_time = end_time - start_time
print(f"✅ Time taken by the program: {execution_time:.4f} seconds")

## Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.![Screenshot (8).png]()

In [ ]:
import random
import time
import matplotlib.pyplot as plt

# Step 1: Define the sizes of lists
list_sizes = [5000, 10000, 15000, 20000, 25000]
time_taken = []

# Step 2: Loop over each size and measure sorting time
for size in list_sizes:
    # Generate a random list of the given size
    data = [random.randint(1, 1000000) for _ in range(size)]

    # Measure the time before and after sorting
    start_time = time.time()
    data.sort()  # Built-in efficient sorting
    end_time = time.time()

    # Calculate elapsed time
    elapsed = end_time - start_time
    time_taken.append(elapsed)

    print(f"Sorted list of {size} elements in {elapsed:.5f} seconds")

# Step 3: Plot the graph
plt.plot(list_sizes, time_taken, marker='o', linestyle='-', color='blue')
plt.title("Sorting Time vs List Size")
plt.xlabel("Number of Elements in List")
plt.ylabel("Time Taken (in seconds)")
plt.grid(True)
plt.show()

# Q13: WAP to create a dictionary of student marks in five subjects and find the student having maximum and minimum average marks.

In [ ]:
# Step 1: Define the dictionary of student marks
students = {
    "Alice": [85, 90, 78, 92, 88],
    "Bob": [70, 65, 72, 68, 74],
    "Charlie": [95, 98, 97, 96, 94],
    "David": [60, 58, 64, 62, 59],
    "Eve": [80, 82, 84, 79, 81]
}

# Step 2: Create a dictionary to store average marks
average_marks = {}

# Step 3: Calculate average for each student
for name, marks in students.items():
    avg = sum(marks) / len(marks)
    average_marks[name] = avg

# Step 4: Find student with max and min average
max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)

# Step 5: Display the results
print("Average marks of each student:")
for name, avg in average_marks.items():
    print(f"{name}: {avg:.2f}")

print(f"\nStudent with Highest Average: {max_student} ({average_marks[max_student]:.2f})")
print(f"Student with Lowest Average: {min_student} ({average_marks[min_student]:.2f})")